<h3>@ViewBag.Message</h3>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="form-group">
    <input type="submit" value="Выйти" class="btn btn-outline-dark" onClick='location.href="/Account/Logout"' />
</div>